#jeprodev-logo-wrapper #jeprodev-logo-img-wrapper{ width:25%; }
#jeprodev-logo-wrapper .site-name{ width: 74%;  position: relative;}
#jeprodev-logo-wrapper .site-name h2{ color:white; margin:0; padding-top:10px; font-size:24px; }
#jeprodev-logo-wrapper .site-name span{ color: white; margin:0 25px 15px 45px; font-size:13px}